[mysql]
socket=/mntmysql/var/lib/mysql/mysql.sock

[mysqld]
datadir=/mntmysql/var/lib/mysql
socket=/mntmysql/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
default-storage-engine         = MyISAM
# MyISAM #
 key-buffer-size                = 10G
 myisam-recover                 = FORCE,BACKUP

 # SAFETY #
 max-allowed-packet             = 16M
 max-connect-errors             = 1000000
# CACHES AND LIMITS #
 tmp-table-size                 = 32M
 max-heap-table-size            = 32M
 query-cache-type               = 0
 query-cache-size               = 0
 max-connections                = 500
 thread-cache-size              = 50
 open-files-limit               = 65535
 table-definition-cache         = 1024
 table-open-cache               = 2048
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

#[mysqld_safe]
log-error=/mntmysql/var/log/mysqld.log
pid-file=/mntmysql/var/run/mysqld/mysqld.pid
