[mysql]
socket=/mnt/var/lib/mysql/mysql.sock

[mysqld]
datadir=/mnt/var/lib/mysql
socket=/mnt/var/lib/mysql/mysql.sock
tmpdir=/mnt/tempdir
# Disabling symbolic-links is recommended to prevent assorted security risks
 symbolic-links=0
 default-storage-engine         = MyISAM
 # MyISAM #
 myisam-recover-options         = FORCE,BACKUP

# SAFETY #
 max-allowed-packet             = 16M
 max-connect-errors             = 1000000
key_buffer_size 	= 5G
#q6cache.key_buffer_size = 1G
query_cache_type 	= 1
query_cache_size	= 64M #or 32M
tmp_table_size		= 64M
table_open_cache	= 524288 #or 128M
innodb_buffer_pool_size	= 0
innodb_additional_mem_pool_size = 0
innodb_log_buffer_size 	= 0
max_connections 	= 200

thread_handling		= one-thread-per-connection

sort_buffer_size	= 128K
read_buffer_size	= 128K
read_rnd_buffer_size	= 256K
join_buffer_size	= 128K
thread_stack		= 196K

slow_query_log		= 0
general_log		= 0
#sql_log_bin		= 0
#log-output		= /var/log/mysql/log


skip-innodb

[mysqladmin]
socket = /mnt/var/lib/mysql/mysql.sock

#[mysqld_safe]
#log-error=/var/log/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid
